git+https://github.com/beancount/beanprice.git
git+https://github.com/csingley/ibflex.git
git+https://github.com/alensiljak/alens-importers.git
# fava_investor==1.0.1
beancount-share==0.1.11
beancount-refried==0.7.0
nordigen==1.4.2
thefuzz==0.22.1
argcomplete==3.5.1
pre-commit==4.3.0
